@model R54_Ex_06_Mvc_Evidence.ViewModels.ApplicantEditModel
@{
    ViewBag.Title = "Edit";
}

<div class="row">
    <div class="col-10">
        @using (Html.BeginForm("Edit", "Applicants", FormMethod.Post, new { enctype = "multipart/form-data" }))
        {
            @Html.HiddenFor(x => x.ApplicantId)
            <h3 class="mb-2">Add new appicant</h3>
            <div class="form-group row mb-1">
                @Html.LabelFor(x => x.ApplicantName, new { @class = "col-form-label col-form-label-sm col-2" })
                <div class="col-6">
                    @Html.TextBoxFor(x => x.ApplicantName, new { @class = "form-control form-control-sm" })
                    @Html.ValidationMessageFor(x => x.ApplicantName, "", new { @class = "text-danger", style = "font-size:x-small" })
                </div>
            </div>
            <div class="form-group row mb-1">
                @Html.LabelFor(x => x.Gender, new { @class = "col-form-label col-form-label-sm col-2" })
                <div class="col-6">
                    @Html.EnumDropDownListFor(x => x.Gender, new { @class = "form-select form-select-sm" })
                    @Html.ValidationMessageFor(x => x.Gender, "", new { @class = "text-danger", style = "font-size:x-small" })
                </div>
            </div>
            <div class="form-group row mb-1">
                @Html.LabelFor(x => x.BirthDate, new { @class = "col-form-label col-form-label-sm col-2" })
                <div class="col-6">
                    @Html.TextBoxFor(x => x.BirthDate, new { @class = "form-control form-control-sm" })
                    @Html.ValidationMessageFor(x => x.BirthDate, "", new { @class = "text-danger", style = "font-size:x-small" })
                </div>
            </div>
            <div class="form-group row mb-1">
                @Html.LabelFor(x => x.AppliedFor, new { @class = "col-form-label col-form-label-sm col-2" })
                <div class="col-6">
                    @Html.TextBoxFor(x => x.AppliedFor, new { @class = "form-control form-control-sm" })
                    @Html.ValidationMessageFor(x => x.AppliedFor, "", new { @class = "text-danger", style = "font-size:x-small" })
                </div>
            </div>
            <div class="form-group row mb-1">
                @Html.LabelFor(x => x.Picture, new { @class = "col-form-label col-form-label-sm col-2" })
                <div class="col-6">
                    @Html.TextBoxFor(x => x.Picture, new { @class = "form-control form-control-sm", type = "file" })
                    @Html.ValidationMessageFor(x => x.Picture, "", new { @class = "text-danger", style = "font-size:x-small" })
                </div>
            </div>


            <div class="col-12">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>Degree</th>
                            <th>Institute</th>
                            <th>Passing year</th>
                            <th>Result</th>
                            <th>
                                <button type="submit" class="btn btn-secondary btn-sm" name="act" value="add" formnovalidate>Add</button>
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @for (var i = 0; i < Model.Qualifications.Count; i++)
                        {
                            <tr>
                                <td>
                                    @Html.TextBoxFor(x => Model.Qualifications[i].Degree, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(x => Model.Qualifications[i].Degree, "", new { @class = "text-danger" })

                                </td>
                                <td>
                                    @Html.TextBoxFor(x => Model.Qualifications[i].Institute, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(x => Model.Qualifications[i].Institute, "", new { @class = "text-danger" })
                                </td>
                                <td>
                                    @Html.TextBoxFor(x => Model.Qualifications[i].PassingYear, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(x => Model.Qualifications[i].PassingYear, "", new { @class = "text-danger" })
                                </td>
                                <td>
                                    @Html.TextBoxFor(x => Model.Qualifications[i].Result, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(x => Model.Qualifications[i].Degree, "", new { @class = "text-danger" })
                                </td>
                                <th>
                                    <button type="submit" class="btn btn-secondary btn-sm" name="act" value="remove_@i" formnovalidate>Remove</button>
                                </th>
                            </tr>
                        }
                    </tbody>
                </table>

            </div>
            <div class="form-group row mb-1">

                <div class="col-12 text-end">
                    <button type="submit" class="btn btn-primary" name="act" value="update">Save to database</button>
                </div>
            </div>
        }
    </div>
    <div class="col-2">

        <img src="~/Pictures/@ViewBag.CurrentPic" class="img-thumbnail" style="width:120px" />

    </div>
</div>
@section styles
{
    <link href="~/Content/bootstrap-datepicker.standalone.css" rel="stylesheet" />
}
@section scripts {
    <script src="~/Scripts/jquery-3.7.0.js"></script>
    <script src="~/Scripts/jquery.validate.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.js"></script>
    <script src="~/Scripts/bootstrap-datepicker.js"></script>
    <script>
        $("#BirthDate").datepicker({
            format:"yyyy-mm-dd"
        })
    </script>
}


